.grid {
  display: grid;

  &--sidebar {
    grid-template-columns: 1fr max-content;
    gap: $section-vertical-padding;
  }

  &--50-50 {
    grid-template-columns: repeat(2, 1fr);
    gap: $section-vertical-padding;

    &__a,
    &__b {
      display: flex;
    }

    &__a {
      justify-content: flex-end;
      align-items: flex-start;
    }

    &__b {
      max-width: 60rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .section__title,
      .section__subtitle {
        text-align: left;
      }

      p:not(:last-child) {
        margin: 1rem 0;
      }
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &--multiple {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
}
