.btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  border: none;
  border-radius: 4.8rem;
  background-color: transparent;
  cursor: pointer;

  &--small {
    padding: 0.8rem 1.6rem;
  }

  &--large {
    padding: 1.6rem 3.2rem;
  }

  &--primary {
    color: $text-light;
    background-color: $accent-color;
  }

  &--secondary {
    color: inherit;
    border: 1px solid $accent-color;
  }

  &--block {
    @media (max-width: $mobile) {
      display: block;
      width: 100%;
    }
  }
}
