.list {
  margin-bottom: 4rem;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $mobile) {
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    font-weight: 300;
    font-style: italic;
  }

  &__item {
    width: 25rem;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    span {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  &__img {
    margin-right: 1rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;

    &:before {
      margin-right: 1rem;
      display: inline-block;
      content: "\276F";
      color: $accent-color;
      font-size: 1.8rem;
    }
  }

  &__text {
    margin-left: 1rem;

    span {
      color: $text-light3;
    }
  }
}
