.nav {
  min-height: 10rem;
  display: flex;
  align-items: center;

  .container {
    display: flex;
  }

  .logo {
    margin-right: auto;
    font-weight: 800;
  }

  &__items {
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style-type: none;

    > :not(:last-child) {
      margin-right: 2rem;
    }
  }
}
