.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);

  &__container {
    position: relative;
    width: 100%;
    max-width: $page-width;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    transition: left $time;
  }

  &__slide {
    width: 100%;
    color: white;
    padding: 0 $page-horizontal-padding;
  }

  &__close {
    position: absolute;
    top: 0;
    right: $page-horizontal-padding;
    height: 10rem;
    display: flex;
    align-items: center;
  }

  &__controls {
    width: 100%;
    max-width: $page-width;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    * > :not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__navigation {
    margin: 0 1rem;
    width: max-content;
    display: flex;
    align-items: center;

    .item {
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid white;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        border-color: $accent-color;
      }
    }
  }
}
