@import "partials/variables";
@import "partials/typography";

@import "components/layout/navbar";
@import "components/layout/mobile-nav";
@import "components/layout/header";
@import "components/layout/footer";

@import "components/buttons";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

//Global
body {
  font-size: 1.6rem;
  color: $text-dark;
}

.page-content {
  margin-top: $nav-height;
  min-height: calc(100vh - 10rem);
}

.container {
  width: 100%;
}

.main {
}
